
<!doctype html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Bootstrap CSS -->

      <title>{{ title }}</title>
    </head>
    <body>
      <!-- header -->
        {% include 'header.liquid' %}
        <!-- content -->
        <main class="main">
            {% block %}{% endblock %}
        </main>
        <footer> {% block footer %}{% endblock %} </footer>
        <!-- import script -->
    </body>
</html>

