<footer class="footer">
  <div class="container">
    <div class="footer__heading">
      <span class="uppercase">
        Thông tin khách hàng
      </span>
    </div>

    
    <div class="footer__content">
      <div class="footer__content-left">
        <h3>Tranh trúc chỉ Canvas</h3>
        <ul>
          <li>
            Hotline:  091 696 13 31
          </li>
          <li>
            Địa chỉ: 18 Nguyễn Ngọc Nại, Thanh Xuân, Hà Nội
          </li>
          <li>
            Fanpage: Fire Canvas
          </li>
          <li>
            Email: cskh@trucchicanvas.com
          </li>
        </ul>
      </div>
      <div class="footer__content-right">
        <div class="footer__content-right-title">
          Liên hệ với chúng tôi
        </div>
        <ul>
          <li>
            <a>
              <img src="https://w.ladicdn.com/s450x450/5fc73dd6f711010011ef05ab/f256b5ac478a90ba83d15c8fa73d17d0-20210712035145.png" />
            </a>
          </li>
          <li>
            <a>
            <img src="https://w.ladicdn.com/s450x450/5fc73dd6f711010011ef05ab/f256b5ac478a90ba83d15c8fa73d17d0-20210712035145.png" />
            </a>
          </li>
          <li>
            <a>
            <img src="https://w.ladicdn.com/s450x450/5fc73dd6f711010011ef05ab/f256b5ac478a90ba83d15c8fa73d17d0-20210712035145.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% include 'footer-scripts' %}
