<footer class="footer">
  <div class="container">
    <div class="footer__heading">
      <span class="uppercase">
        Thông tin khách hàng
      </span>
    </div>

    
    <div class="footer__content">
      <div class="footer__content-left">
        <h3>Tranh trúc chỉ Canvas</h3>
        <ul>
          <li>
            Hotline:  091 696 13 31
          </li>
          <li>
            Địa chỉ: 18 Nguyễn Ngọc Nại, Thanh Xuân, Hà Nội
          </li>
          <li>
            Fanpage: Fire Canvas
          </li>
          <li>
            Email: cskh@trucchicanvas.com
          </li>
        </ul>
      </div>
      <div class="footer__content-right">
        <div class="footer__content-right-title">
          Liên hệ với chúng tôi
        </div>
        <ul>
          <li>
            <a>
              <img src="/images/zalo.webp" />
            </a>
          </li>
          <li>
            <a>
            <img src="/images/instagram.webp" />
            </a>
          </li>
          <li>
            <a>
            <img src="images/facebook.jpg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

