
<!doctype html>
<html lang="en">
    <head>
      {% include 'head' %}
    </head>
    <body>
        <!-- header -->
        {% include 'header.liquid' %}
        <!-- content -->
        <main class="main">
          <!-- section-1 -->
            <section class="section section-1" id="section-1" data-aos="fade-up">
              <div class="section-1__bg"></div>
              <div class="container">
                <div class="section-1__container">
                  <h3 class="section-1__title">
                    Tranh trúc chỉ Canvas
                  </h3>
                  <div class="section-1__img img-responsive">
                    <img src="/images/truc-chi2-20210708231152.webp" alt=" Nét đẹp tâm linh cho không gian thờ tự"/>
                  </div>
                  <div class="text-center">
                    <div class="section-1__content">
                      <p>Hợp phong thủy, hội tụ vượng khí và tài lộc cho gia đình</p>
                    </dijv>
                  </div>
                  <div class="section-1__meta">
                    <div class="section-1__meta-item">
                      Freeship toàn quốc
                      <span>cho đơn hàng từ 2 triệu</span>
                    </div>

                    <div class="section-1__meta-item">
                      Tặng 1 tranh trang trí nội thất
                      <span>cho đơn hàng trên 5 triệu</div>
                  </div>
                  <div class="section-1_btn">
                    <a class="btn uppercase btn-rounder scrollTo" href="#form-contact" >
                      Mua ngay
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- end section-1 -->
            <!-- section-2 -->
            <section class="section-2 section">
              <div class="container">
                <div class="section-2__container">
                  <div class="section-2__left">
                    <div class="section-2__left-img" data-aos="fade-right">
                      <div class="img-responsive">
                        <img src="/images/8c4ca3183c8ec8d0919f-20210709080146.jpg" alt=""/>
                      </div>
                    </div>
                  </div>
                  <div class="section-2__right">
                    <ul class="section-2__list" data-aos="fade-left">
                      <li>
                        <span class="icon">
                          <img src="/images/shape1.svg" alt=""/>
                        </span>
                        <div class="text">
                            Chất liệu Canvas vải dệt bền đẹp với thời gian
                        </div>
                      </li>
                      <li>
                        <span class="icon">
                          <img src="/images/shape2.svg" alt=""/>
                        </span>
                        <div class="text">
                            Giá thành tốt nhất thị trường
                        </div>
                      </li>
                      <li>
                        <span class="icon">
                          <img src="/images/shape3.svg" alt=""/>
                        </span>
                        <div class="text">
                            Mang ý nghĩa phong thủy và tài lộc đến cho gia đình
                        </div>
                      </li>
                    </ul>
                    <div class="section-2__btn">
                      <a class="btn btn-bg btn-rounder uppercase">
                        Đặt hàng ngay
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- end section-2 -->

            
            <!-- section-3 -->
            <section class="section section-3">
              <div class="section-3__bg"></div>
              <div class="section-3__overlay"></div>
              <div class="section-3__partent">
                <img src="https://w.ladicdn.com/s750x850/5fc73dd6f711010011ef05ab/pngtreeline-drawing-lotus-leaf_5406891-20210702023141.png" alt=""/>
              </div>
              <div class="container">
                <div class="section-3__container">
                  <h3 class="section-3__title text-center section__title">
                    Sự kết hợp độc đáo giữa <span>chất liệu và ánh sáng</span>
                  </h3>
                  <div class="section-3__content">
                    <div class="section-3__content-right img-responsive">
                      <img 
                         src="/images/fb06-20210702022927.webp" 
                         alt=""
                      />
                    </div>
                    <div class="section-3__content-left">
                      <ul class="section-3__content-list">
                        <li> 
                          Tranh trúc chỉ là một loại tranh nghệ thuật độc đáo đặc biệt được nhiều người ưu chuộng khi trang trí cho các không gian tôn nghiêm và thanh tịnh. 
                        </li>
                        <li> 
                          Mỗi bức tranh trúc đều được thiết kế đặc biệt cho ánh sáng xuyên qua mặt tranh làm ẩn hiện từng nét vẽ tinh tế của người họa sĩ.
                        </li>
                        <li>
                          Thưởng thức tranh trúc chỉ, bạn sẽ bị cuốn hút bởi nét họa tiết mềm mại, uyển chuyển chứa đựng những ý nghĩa tâm linh pha trộn với nghệ thuật độc đáo.
                        </li>
                      </ul>

                      <div class="section-3__btn">
                      <a class="btn btn-bg btn-rounder uppercase scrollTo" href="#form-contact">
                            Mua hàng ngay
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- end section-3 -->

            <!-- section-4 -->
            <section class="section section-4">
              <div class="section-4__partent-1">
                <img src="https://w.ladicdn.com/s1250x1250/5fc73dd6f711010011ef05ab/untitled-1-20210702025854.png" alt=""/>
              </div>
              <div class="section-4__partent-2">
                <img src="https://w.ladicdn.com/s1250x1250/5fc73dd6f711010011ef05ab/untitled-1-20210702025854.png" alt=""/>
              </div>
              <div class="container">
                <h3 class="section__title text-center">
                  <span>5 ưu điểm</span> của tranh Trúc Chỉ Canvas
                </h3>
                <div class="section-4__content">
                  <ul class="section-4__list">

                    <li class="img">
                      <img  alt="" src="/images/fcn04-20210709082519.webp"/>
                    </li>
                    <li class="section-4__list-item">
                      <div class="section-4__list-title"><span>01</span> Chất liệu</div>
                      <p>
                        Khác với những loại tranh trúc chỉ giấy thông thường, tranh trúc chỉ của Fire Canvas được làm từ vải bố Canvas - chất liệu được sử dụng phổ biến trong hội họa vì có độ tuổi cao, chất lượng tốt và luôn giữ được vẻ bền đẹp suốt hàng chục năm
                      </p>
                    </li>
                    <li class="section-4__list-item">
                      <div class="section-4__list-title"><span>02</span> Khung tranh</div>
                      <p>
                        Để tôn nên vẻ sang trọng cho bức tranh, Fire Canvas sử dụng khung tranh từ gỗ tự nhiên có độ dày từ 4 đến 6cm. Tính mộc của gỗ giúp cân bằng các yếu tốt phong thủy cũng như duy trì độ bền đẹp của tranh với thời gian.
                      </p>
                    </li>
                    <li class="section-4__list-item">
                      <div class="section-4__list-title"><span>03</span> Mực in</div>
                      <p>
                        Hệ thống đèn chiếu sáng của tranh trúc chỉ Fire Canvas là đèn led nhập khẩu cao cấp, dẫn ánh sáng đều khắp mặt tranh, tôn lên nét đẹp hoàn hảo cho từng chi tiết của bức tranh
                      </p>
                    </li>
                    <li class="section-4__list-item">
                      <div class="section-4__list-title"><span>04</span> Hệ thống chiếu sáng</div>
                      <p>
                        Để đáp ứng nhu cầu đa dạng của khách hàng, Fire Canvas nhận đặt tranh với kích thước theo yêu cầu từ cỡ nhỏ cho đến cỡ đại hay những hình dạng tranh đặt biệt như khung tròn, vuông, chữ nhật..
                      </p>
                    </li>
                    <li class="section-4__list-item">
                      <div class="section-4__list-title"><span>05</span> Giá thành</div>
                      <p>
                        Tranh trúc chỉ Fire Canvas có giá thành chỉ bằng một nửa so với các loại tranh trúc chỉ truyền thống nhờ lợi thế ứng dụng công nghệ in tiên tiến. Không chỉ thế tranh có độ bền cao hơn hẳn vì sử dụng chất liệu canvas vải dệt cao cấp giúp luôn giữ được màu sắc sắc nét trong vòng 10 - 20 năm.
                      </p>
                    </li>
                  </ul>
                  <div class="section-4__btn">
                      <a class="btn btn-bg btn-rounder uppercase scrollTo" href="#form-contact">
                      Mua hàng ngay
                    </a>
                  </div>
                </div>
              </div>

            </section>
            <!-- end section-4 -->

            <!-- section-5 -->
            <section class='section section-5'>
              <div class="container">
                <h3 class="section__title text-center">
                  <span>Các loại tranh Trúc Chỉ</span> tại Fire Canvas
                </h3>

                <div class="section-5__products">
                  <div class="section-5__product">
                    <div class="section-5__slider-1 section-5__slider">
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s700x800/5fc73dd6f711010011ef05ab/z2588225266999_a9fdbc02bed4e92a514af5c74380612d-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s900x750/5fc73dd6f711010011ef05ab/z2567985317818_9abe7654135e5523acc51d79a95d102c-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="section-5__product-content text-center">
                      <h3>Tranh Trúc Chỉ theo bộ</h3>
                      <a class="btn btn-bg btn-rounder uppercase scrollTo" href="#form-contact">
                        Đặt tranh ngay
                      </a>
                    </div>
                  </div>

                  <div class="section-5__product">
                    <div class="section-5__slider-2 section-5__slider">
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s700x800/5fc73dd6f711010011ef05ab/z2588225266999_a9fdbc02bed4e92a514af5c74380612d-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s900x750/5fc73dd6f711010011ef05ab/z2567985317818_9abe7654135e5523acc51d79a95d102c-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="section-5__product-content text-center">
                      <h3>Tranh Trúc Chỉ đèn chữ nhật</h3>
                      <a class="btn btn-bg btn-rounder uppercase scrollTo" href="#form-contact">
                        Đặt tranh ngay
                      </a>
                    </div>
                  </div>

                  <div class="section-5__product">
                    <div class="section-5__slider-2 section-5__slider">
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s700x800/5fc73dd6f711010011ef05ab/z2588225266999_a9fdbc02bed4e92a514af5c74380612d-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s900x750/5fc73dd6f711010011ef05ab/z2567985317818_9abe7654135e5523acc51d79a95d102c-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="section-5__product-content text-center">
                      <h3>Tranh Trúc Chỉ đèn chữ nhật</h3>
                      <a class="btn btn-bg btn-rounder uppercase scrollTo" href="#form-contact">
                        Đặt tranh ngay
                      </a>
                    </div>
                  </div>

                  <div class="section-5__product">
                    <div class="section-5__slider-2 section-5__slider">
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s700x800/5fc73dd6f711010011ef05ab/z2588225266999_a9fdbc02bed4e92a514af5c74380612d-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s900x750/5fc73dd6f711010011ef05ab/z2567985317818_9abe7654135e5523acc51d79a95d102c-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="section-5__product-content text-center">
                      <h3>Tranh Trúc Chỉ đèn chữ nhật</h3>
                      <a class="btn btn-bg btn-rounder uppercase scrollTo" href="#form-contact">
                        Đặt tranh ngay
                      </a>
                    </div>
                  </div>

                  <div class="section-5__product">
                    <div class="section-5__slider-2 section-5__slider">
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s700x800/5fc73dd6f711010011ef05ab/z2588225266999_a9fdbc02bed4e92a514af5c74380612d-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                      <div>
                        <div class="img-responsive">
                          <img src="https://w.ladicdn.com/s900x750/5fc73dd6f711010011ef05ab/z2567985317818_9abe7654135e5523acc51d79a95d102c-20210709101526.jpg" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="section-5__product-content text-center">
                      <h3>Tranh Trúc Chỉ đèn chữ nhật</h3>
                      <a class="btn btn-bg btn-rounder uppercase scrollTo" href="#form-contact">
                        Đặt tranh ngay
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- end section-5 -->

            <!-- section-6 -->
            <section class='section section-6'>
              <div class="container">
                <h3 class="section__title text-center">
                  Tranh trúc chỉ <span>Canvas</span>
                </h3>

                <div class="section-6__content">
                  <div class="section-6__list">
                    <div class="section-6__item">
                      <p>
                      Xưởng tranh hàng đầu về tranh trúc chỉ canvas
                      </p>
                    </div>
                    <div class="section-6__item">
                      <p>
                      Chuyên phân phối cho các đại lý tranh thờ, đồ mỹ nghệ và các showroom nội thất trên khắp cả nước
                      </p>
                    </div>
                    <div class="section-6__item">
                      <p>
                      Tuyển đối tác phân phối, đại lý bán hàng với chiết khấu cao
                      </p>
                    </div>
                  </div>
                  <div class="section-6__btn">
                    <a class="btn btn-bg btn-rounder uppercase scrollTo" href="#form-contact">
                      Hợp tác ngay
                    </a>
                </div>
                </div>
              </div>
            </section>
            <!-- end section-6 -->
  
            <!-- section-7 -->
            <section class="section section-7">
              <div class="section-7__bg"></div>
              <div class="section-7__overlay"></div>
              <div class="container">
                <h3 class="section__title text-center">
                  Chính sách mua hàng
                </h3>

                <div class="section-7__content">
                  <div class="section-7__list">
                    <div class="section-7__item">
                      <div class="icon">
                        <img src="/images/shape4.svg" alt=""/>
                      </div>
                      <div class="text">
                        Ship hàng toàn quốc
                      </div>
                    </div>
                    <div class="section-7__item">
                      <div class="icon">
                        <img src="/images/shape5.svg" alt=""/>
                      </div>
                      <div class="text">
                        Bảo hành 20 năm
                      </div>
                    </div>
                    <div class="section-7__item">
                      <div class="icon">
                        <img src="/images/shape6.svg" alt=""/>
                      </div>
                      <div class="text">
                        Được kiểm tra trước khi nhận hàng
                      </div>
                    </div>
                    <div class="section-7__item">
                      <div class="icon">
                        <img src="/images/shape7.svg" alt=""/>
                      </div>
                      <div class="text">
                        Freeship cho đơn hàng từ 2 triệu đồng
                      </div>
                    </div>
                  </div>
                  <div class="section-7__btn">
                    <a class="btn btn-bg btn-rounder uppercase scrollTo" href="#form-contact">
                      Đặt tranh ngay
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- end section-7 -->

            <!--  section-8 -->
            <section class="section section-8" id="form-contact">
              <div class="section-8__partent-1">
                <img src="https://w.ladicdn.com/s850x1000/5fc73dd6f711010011ef05ab/lotus-2-20210702092503.png"/>
              </div>
              <div class="section-8__partent-2">
                <img src="https://w.ladicdn.com/s850x1000/5fc73dd6f711010011ef05ab/lotus-2-20210702092503.png"/>
              </div>
              <div class="container">
                <div class="section-8__content">
                  <div class="section-8__left">
                    <form class="form-contact" id="contactForm" method="get" action="">
                      <h3 class="form-contact__heading">
                        <span>Đăng ký ngay</span> để nhận ưu đãi
                      </h3>
                      <div class="form-control">
                        <input placeholder="Họ tên" name="fullname" required/>
                      </div>
                      <div class="form-control">
                        <input placeholder="Số điện thoại" name="phoneNumber" required/>
                      </div>
                      <div class="form-control">
                        <input placeholder="Email" name="email" required/>
                      </div>
                      <div class="form-control select-address">
                          <select select="" name="province">
                            <option value="">
                              Tỉnh/Thành phố
                            </option>
                          </select>
                          <select select="" name="district">
                            <option value="">
                              Quận/Huyện
                            </option>
                          </select>
                          <select select="" name="ward">
                            <option value="">
                              Phường/Xã
                            </option>
                          </select>
                      </div>
                      <div class="form-control">
                        <button class="btn btn-bg uppercase" type="submit">
                          Đặt tranh ngay
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="section-8__right">
                    <div class="img-responsive">
                      <img src="https://w.ladicdn.com/s850x800/5fc73dd6f711010011ef05ab/fb01-20210705093642.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- end section-8 -->

            <!--  section-9 -->
            <section class="section section-9">
            
              <div class="container">
                <h3 class="section__title text-center">
                  Feedback khách hàng <span>và hình ảnh thực tế</span>
                </h3>
                <div class="section-9__content">
                  
                  <div class="section-9__slider">
                    <div class="slider">
                    <div>
                    <div class="img-responsive img-product">
                      <img src="https://w.ladicdn.com/s600x700/5fc73dd6f711010011ef05ab/z2369943875859_64a2a8126385e6955cb0537718d1e9d8-20210709101930.jpg" alt=""/>
                    </div>
                    </div>
                    <div>
                    <div class="img-responsive img-product">
                      <img src="https://w.ladicdn.com/s650x700/5fc73dd6f711010011ef05ab/z2357167658513_d739cb5345d58dd00033d7f6b0aff0d0-20210709101930.jpg" alt="" />
                    </div>
                    </div>
                    <div>
                    <div class="img-responsive img-product">
                      <img src="https://w.ladicdn.com/s600x700/5fc73dd6f711010011ef05ab/z2369943875859_64a2a8126385e6955cb0537718d1e9d8-20210709101930.jpg" alt=""/>
                    </div>
                    </div>
                    <div>
                    <div class="img-responsive img-product">
                    <img src="https://w.ladicdn.com/s550x700/5fc73dd6f711010011ef05ab/z2485685860154_72497c538c34106da7151930e8ed9117-20210709101931.jpg" alt="" />
                    </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- end section-9 -->

            {% block %}{% endblock %}
        </main>
          <!-- footer -->
        {% include 'footer.liquid' %}
        <!--  script -->
        {% include 'footer-scripts.liquid' %}
        <script>
          AOS.init();
        </script>
        <script>
          $(document).ready(function() {
            $('.section-9__slider .slider').slick({
              dots: false,
              infinite: true,
              speed: 300,
              slidesToShow: 1,
              variableWidth: true,
              prevArrow:"<button type='button' class='slick-prev'><svg xmlns='http://www.w3.org/2000/svg'  fill='none' viewBox='0 0 24 24' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 19l-7-7 7-7' /></svg></button>",
              nextArrow:"<button type='button' class='slick-next pull-right'><svg xmlns='http://www.w3.org/2000/svg'  fill='none' viewBox='0 0 24 24' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5l7 7-7 7' /></svg></button>"
            });
              
            $('.section-5__slider-1').slick({
              dots: false,
              infinite: true,
              prevArrow:"<button type='button' class='slick-prev'><svg xmlns='http://www.w3.org/2000/svg'  fill='none' viewBox='0 0 24 24' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 19l-7-7 7-7' /></svg></button>",
              nextArrow:"<button type='button' class='slick-next pull-right'><svg xmlns='http://www.w3.org/2000/svg'  fill='none' viewBox='0 0 24 24' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5l7 7-7 7' /></svg></button>"
            });

            $('.section-5__slider-2').slick({
              dots: false,
              infinite: true,
              prevArrow:"<button type='button' class='slick-prev'><svg xmlns='http://www.w3.org/2000/svg'  fill='none' viewBox='0 0 24 24' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 19l-7-7 7-7' /></svg></button>",
              nextArrow:"<button type='button' class='slick-next pull-right'><svg xmlns='http://www.w3.org/2000/svg'  fill='none' viewBox='0 0 24 24' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5l7 7-7 7' /></svg></button>"
            });
          })
        </script>
        <script src="/js/form-contact.js"></script>
    </body>
</html>

